<div class="container">
  <form #userInfo="ngForm" (ngSubmit)="sendToAPI(userInfo)" novalidate>
    <div class = "firstRow">
      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="firstname" ngModel required #fname="ngModel" placeholder="Your name..">

      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lastname" ngModel required #lname="ngModel" placeholder="Your last name..">
    </div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" ngModel required #email="ngModel" placeholder="Your Email..">

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" ngModel required #age="ngModel"placeholder="Your age..">

    <label for="gender">Gender:</label>
    <select id="gender" ngModel required #gender="ngModel" name="gender">
      <option style="opacity:0.5;" value="" selected disabled hidden>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Prefer Not to Say">Prefer Not to Say</option>
    </select>

    <textarea rows="10" name="comment" form="usrform" ngModel required #comments="ngModel" placeholder="Enter text here..."></textarea>

    <input type="button" value="Close">
    <input type="submit" value="Submit">
  </form>

  <p>JSON Value of Form: {{ userInfo.value | json }}</p>

</div>



