<button id="contactBtn">Contact Form</button>

<div id="contactModal" class="modal">

  <div class="modal-content">

    <span class="closeBtn">&times;</span>

    <app-contact-form></app-contact-form>
  </div>

</div>
